<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://tse4.mm.bing.net/th?id=OIP.AaF8S0Xs_HSsx4xfthFrnQHaEs&pid=Api&P=0&w=263&h=168"
                 style="width: 1400px ; height: 400px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="http://3.bp.blogspot.com/-UxVzliopnxw/VXGmR_VdwhI/AAAAAAAAGvU/ayB3N5NC4AE/s1600/hinh-anh-nen-hd-sieu-ro-net-cuc-dep-cho-may-tinh-img042.jpg"
                 style="width: 1400px ; height: 400px" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://tse1.mm.bing.net/th?id=OIP.TEHaRVz8Li-CqUbYt-ht5QHaEo&pid=Api&P=0&w=260&h=164"
                 style="width: 1400px ; height: 400px" class="d-block w-100" alt="...">
        </div>
    </div>
</div>